@model List<UserApp.Models.UserModel>;
@{
    ViewData["Title"] = "Home Page";
}
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
<h1>
    Welcome to Augustine's user App
</h1>



@{
    ViewData["Title"] = "Report Page";
}

<h3>Users Informations</h3>

<button class="btn btn-primary" onclick="openAdd()";>Add New user</button>
<table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="tbody">

        </tbody>
</table>


@* add modal  *@
  
<div class="modal" id="addModal">
    <div class="modal-dialog">"
        <div class="modal-content">
            
            <form  method="Post" class="m-5">
        
            <div class="form-group">
                <input name="FirstName" type="text" placeholder="First Name" class="form-control mt-2">
                <input name="LastName" type="text" placeholder="Last Name" class="form-control mt-2">
                <input name="PhoneNumber" type="text" placeholder="PhoneNumber" class="form-control mt-2">
                <input name="Email" type="text" placeholder="Email" class="form-control mt-2">
            </div>
        
            <button class="btn btn-success mt-3" onclick="addUser()";>Submit</button>
      

        </form>
            </div>

        </div>

    </div>

</div>


 
<div class="modal" id="detailsModal">
    <div class="modal-dialog">"
        <div class="modal-content">
            <h4 id="detailsFirstName"></h4>
            <h4 id="detailsLastName"></h4>
            <h4 id="detailsPhoneNumber"></h4>
            <h4 id="detailsEmail"></h4>
           
            </div>

        </div>

    </div>

</div>
