@{
    ViewData["Title"] = "Home Page";
}
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
<h1>
    Welcome to Augustine's user App
</h1>



@{
    ViewData["Title"] = "Report Page";
}

<h3>Users Informations</h3>

<table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="tbody">

        </tbody>
</table>



